.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: darkgreen;
    padding: 1em;
    color: white;
}
.header h1{
    letter-spacing: .1em;
}
.header button{
    background: transparent;
    padding: .5em 1em;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    outline: none;
}
.header button:hover{
    background: white;
    color: darkgreen;
}