*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ebf2f5;
}

body, html, #root, #app{
    height: 100%;
}

body, input, label, textarea{
    font-family: Arial, Helvetica, sans-serif;
}
